<%- include ("./partials/header2") %>
    <link rel="stylesheet" href="http://localhost:3000/static/css/news.css">
    <title>News</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand mx-2" href="#"><i class="fas fa-chart-line fa-lg"></i> BucKit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link  mx-2" href="index2">Currency Rates</a>
            <a class="nav-item nav-link  mx-2" href="news">Top Headlines</a>
            <a class="nav-item nav-link  mx-2" href="news2" >Finance</a>
            <a class="nav-item nav-link  mx-2" href="news3" >Economy</span></a>
            <a class="nav-item nav-link active mx-2" href="news4" >E-commerce<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link  mx-2" href="news5" >Banking & Investments</a>
            <a href="/users/logout" class="nav-item nav-link logout">Logout <i class="fas fa-sign-out-alt fa-lg"></i></a>



          </nav>
        </div>
    </div>
            <div class="row justify-content-center">
               
                <div class="container">
                    <p class="titles"></p>
                       <a href="#" class="more">Read more <i class="fas fa-angle-double-right"></i></a>
                       <p class="time"></p>
                        <hr>
                       <p class="titles"></p>
                       <a href="#" class="more">Read more <i class="fas fa-angle-double-right"></i></a>
                       <p class="time"></p>
                       <hr>
                       <p class="titles"></p>
                       <a href="#" class="more">Read more <i class="fas fa-angle-double-right"></i></a>
                       <p class="time"></p>
                        <hr>
                        <p class="titles"></p>
                        <a href="#" class="more">Read more <i class="fas fa-angle-double-right"></i></a>
                        <p class="time"></p>
                       <hr>
                       <p class="titles"></p>
                       <a href="#" class="more">Read more <i class="fas fa-angle-double-right"></i></a>
                       <p class="time"></p>
                       <hr>
                       <p class="titles"></p>
                       <a href="#" class="more">Read more <i class="fas fa-angle-double-right"></i></a>
                       <p class="time"></p>
                       <hr>
                       <p class="titles"></p>
                       <a href="#" class="more">Read more <i class="fas fa-angle-double-right"></i></a>
                       <p class="time"></p>
                       <hr>
                       <p class="titles"></p>
                       <a href="#" class="more">Read more <i class="fas fa-angle-double-right"></i></a>
                       <p class="time"></p>
                       <hr>
                       <p class="titles"></p>
                       <a href="#" class="more">Read more <i class="fas fa-angle-double-right"></i></a>
                       <p class="time"></p>
                       <hr>
                       <p class="titles"></p>
                       <a href="#" class="more">Read more <i class="fas fa-angle-double-right"></i></a>
                       <p class="time"></p>
                </div>
            </div>

         
      
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="http://localhost:3000/static/js/news4.js"></script>
  </body>
</html>